# FDS Final Project

## Fraudolent Transactions Data Exploratory

### Import Data from fraud.csv

In [1]:
import pandas as pd

In [2]:
transactions_df =  pd.read_csv('Fraud.csv')

In [3]:
transactions_df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [4]:
transactions_df.isna().sum()

### Analyze every type of transactions

In [ ]:
transactions_df['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

#### type CASH_OUT

In [ ]:
cash_out = transactions_df.loc[transactions_df['type'] == 'CASH_OUT']

In [ ]:
n_cash_out = len(cash_out)

In [ ]:
flag_cash_out = len(cash_out.loc[cash_out['isFlaggedFraud'] == 1])

In [ ]:
fraud_cash_out = len(cash_out.loc[cash_out['isFraud'] == 1])

In [ ]:
print(n_cash_out,flag_cash_out,fraud_cash_out)

2237500 0 4116

#### type DEBIT

In [ ]:
debit = transactions_df.loc[transactions_df['type'] == 'DEBIT']

In [ ]:
n_debit  =len(debit)

In [ ]:
fraud_debit = len(debit.loc[debit['isFraud'] == 1])

In [ ]:
flag_debit = len(debit.loc[debit['isFlaggedFraud'] == 1])

In [ ]:
print(n_debit,flag_debit,fraud_debit)

41432 0 0

#### type PAYMENTS

In [ ]:
payments = transactions_df.loc[transactions_df['type'] == 'PAYMENT']

In [ ]:
n_payments  =len(payments)

In [ ]:
fraud_payments = len(payments.loc[payments['isFraud'] == 1])

Empty DataFrame
Columns: [step, type, amount, nameOrig, oldbalanceOrg, newbalanceOrig, nameDest, oldbalanceDest, newbalanceDest, isFraud, isFlaggedFraud]
Index: []

In [ ]:
flag_payments = len(payments.loc[payments['isFlaggedFraud'] == 1])

#### type TRANSFERS

In [ ]:
transfers  =transactions_df.loc[transactions_df['type']=='TRANSFER']

In [ ]:
n_transfers =  len(transfers)

532909

In [ ]:
fraud  = transfers.loc[transfers['isFraud'] == 1]

In [ ]:
fraud_transfers = len(fraud)

In [ ]:
flagged= transfers.loc[transfers['isFlaggedFraud']  == 1]

In [ ]:
flag_transfers = len(flagged)

In [ ]:
explore = transactions_df.loc[transactions_df['oldbalanceDest']==0]

In [9]:
explore.loc[transactions_df['newbalanceDest']==0]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.0,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362610,742,TRANSFER,63416.99,C778071008,63416.99,0.00,C1812552860,0.0,0.0,1,0
6362612,743,TRANSFER,1258818.82,C1531301470,1258818.82,0.00,C1470998563,0.0,0.0,1,0
6362614,743,TRANSFER,339682.13,C2013999242,339682.13,0.00,C1850423904,0.0,0.0,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.0,0.0,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.0,0.0,1,0